:root{
    --primary-color:#2F3C7E;
    --secondary-color:#2C5F2D;
    --box-shadow: 0.1rem 0.2rem 0.8rem rgba(205, 202, 202, 0.5);
    --text-shadow: 0.1rem 0.1rem 0.5rem rgba(205, 202, 202, 0.5);
    --padding: 0.5rem;
    --transition: all 0.3s ease;
    --border-radius: 0.6rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    outline:none;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
img{
    width: 100%;
    height: auto;
}
.flex-soace-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* header start from here  */
#menu-icon{
    display: none;
}
nav{
    font-family: 'Lobster', cursive;
    font-size: 1.2rem;
    position: sticky;
    z-index: 100;
}

.nav-upper{
    min-height: 10vh;
    background-color: var(--primary-color);
    padding: var(--padding);
}

.nav-upper__list{
    transition: var(--transition);
}

.nav-upper__list:hover{
    color:black;
    text-decoration: overline;
    transform: scale(1.1)
}
.nav-upper__link{
    color: white;
    transition: var(--transition);
    font-size: 2rem;
}

.nav-upper__link:hover{
    color:#D3C5E5;
    text-decoration: overline;
    transform: scale(1.1)
}
.nav-upper__profile{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: white 1px solid;
}
.nav-upper__profile:hover{
    transform: scale(1.1)
}
.nav-lower{
    min-height: 8vh;
    background-color: var(--secondary-color);
    padding: var(--padding);
    font-weight: bolder;
    font-size: 2rem;
}

.nav-lower__link{
    color: white;
}


/* header end here */




/* responsiveness start from here */


@media screen and (max-width: 992px) {
    #menu-icon{
        display: block;
        text-align: center;
        margin: 1rem 0;
        font-size: 2rem;
        cursor: pointer;
    }
    .nav{
        display: none;
    }
    .flex-soace-around{
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;
    }
}

/* responsiveness end from here */